﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Omega Devices</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar")
                <div class="container body-content">
                    <a style="margin-top:20px;" class="btn btn-info pull-right" id="backbutton" href=@Request.UrlReferrer>
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    @RenderBody()
                    
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Piotr Majewski</p>
                    </footer>
                </div>

                @Scripts.Render("~/bundles/lib")
                @RenderSection("scripts", required: false)
    </body>
</html>
