﻿@model OTDM.Models.ViewModels.ResolutionFormViewModel
@{
    ViewBag.Title = "ResolutionComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj komentarz do rozwiązania tego problemu</h2>

@using (Html.BeginForm("ResolveProblem", "Problems"))
{
    <div class="form-group">
        @Html.TextAreaFor(m => m.Problem.ResolutionDescription, new { @class = "form-control", style = "min-height:200px;" })
    </div>
    @Html.HiddenFor(m=>m.ProblemId)

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Potwierdź</button> @Html.ActionLink("Anuluj", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-warning" })
    </div>
    
 }