﻿@using Microsoft.AspNet.Identity;
@using OTDM.Models
@model OTDM.Models.ViewModels.MyActivitiesViewModel

@{
    ViewBag.Title = "MyActivities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Moje Aktywności</h2>
    <br />
    <ul class="nav nav-tabs">
        <li class="active"><a href="#myTasks" data-toggle="tab">Oczekujące na moją akcję <span class="badge">@(@Model.MyActiveTasks.Count() + @Model.ProblemsToResolve.Count())</span></a></li>
        <li><a href="#myActiveRequests" data-toggle="tab">Zamówienia w trakcie realizacji <span class="badge">@Model.MyActiveRequests.Count()</span></a></li>
        <li><a href="#myArchivedRequests" data-toggle="tab">Zamówienia archiwalne <span class="badge">@Model.MyArchivedRequests.Count()</span></a></li>
        <li><a href="#myProblems" data-toggle="tab">Moje Problemy <span class="badge">@Model.ProblemsReportedByMe.Count()</span></a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Więcej <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">Wszystkie zamówienia</a></li>
                <li class="divider"></li>
                <li><a href="#dropdown2" data-toggle="tab">Export do Excela</a></li>
            </ul>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active in" id="myTasks">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Zamówienia oczekujące na moją akcję</h3>

                </div>
                <div class="panel-body">
                    @if (!Model.MyActiveTasks.Any())
                    {
                        <p>Wykonałeś wszystkie swoje zadania :)</p>
                    }
                    else
                    {
                        <table class="dtable table table-striped table-bordered nowrap" cellspacing="0" style="width: 100%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Numer zamówienia</th>
                                    <th>Zlecenie produkcyjne</th>
                                    <th>Data rozpoczęcia produkcji</th>
                                    <th>Nazwa testera</th>
                                    <th>Kod testera</th>
                                    <th>Akcja</th>
                                    <th>Przekazania</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var task in Model.MyActiveTasks)
                                {
                                    <tr>
                                        <td>@task.Id</td>
                                        <td>@task.OrderId</td>
                                        <td>@task.StartingDate</td>
                                        <td>@task.RequestedDevice.Name</td>
                                        <td>@task.RequestedDevice.Code</td>

                                        @switch (task.RequestStatus)
                                        {
                                            case RequestStatusEnum.WaitingForAction:
                                                <td> @Html.ActionLink("Do odbioru", "Prepared", "Requests", new { id = task.Id }, null)</td>
                                                break;
                                            case RequestStatusEnum.WaitingForCollection:
                                                <td>@Html.ActionLink("Odebrano", "Collected", "Requests", new { id = task.Id }, null)</td>
                                                break;
                                            case RequestStatusEnum.InUse:
                                                <td><p>@Html.ActionLink("Przekaż innemu liderowi", "ReassignDeviceForm", "Reassignments", new { id = task.Id }, null)</p><p>@Html.ActionLink("Przyjmij na stan", "CommentForm", "Requests", new { id = task.Id }, null)</p></td>
                                                break;
                                            case RequestStatusEnum.Completed:
                                                <td>Proces zakończony</td>
                                                break;
                                        }
                                        <td>@Html.ActionLink("Zobacz", "ReassignmentsHistory", "Reassignments", new { id = task.Id }, null)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Problemy wymagające mojej uwagi</h3>
                </div>
                <div class="panel-body">
                    @if (!Model.ProblemsToResolve.Any())
                    {
                        <p>Brak problemów do rozwiązania :)</p>
                    }
                    else
                    {
                        <table class="dtable table table-striped table-bordered nowrap" cellspacing="0" style="width: 100%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Numer zgłoszenia</th>
                                    <th>Data zgłoszenia</th>
                                    <th>Urządzenie</th>
                                    <th>Kod urządzenia</th>
                                    <th>Opis problemu</th>
                                    <th>Akcja</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var problem in Model.ProblemsToResolve)
                                {
                                    <tr>
                                        <td>@problem.Id</td>
                                        <td>@problem.ReportingDate</td>
                                        <td>@problem.Device.Name</td>
                                        <td>@problem.Device.Code</td>
                                        <td>@problem.ProblemDescription</td>
                                        <td>@Html.ActionLink("Dopuść do użytku", "ResolutionForm", "Problems", new { id = problem.Id }, null)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="myActiveRequests">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Moje zamówienia w trakcie realizacji</h3>
                </div>
                <div class="panel-body">
                    @if (!Model.MyActiveRequests.Any())
                    {
                        <p>Brak aktywnych zamówień</p>
                    }
                    else
                    {
                        <table class="dtable table table-striped table-bordered nowrap" cellspacing="0" style="width: 100%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Numer zamówienia</th>
                                    <th>Zlecenie produkcyjne</th>
                                    <th>Data rozpoczęcia produkcji</th>
                                    <th>Nazwa testera</th>
                                    <th>Kod testera</th>
                                    <th>Status</th>
                                    <th>Przekazania</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var req in Model.MyActiveRequests)
                                {
                                    <tr>
                                        <td>@req.Id</td>
                                        <td>@req.OrderId</td>
                                        <td>@req.StartingDate</td>
                                        <td>@req.RequestedDevice.Name</td>
                                        <td>@req.RequestedDevice.Code</td>

                                        @switch (req.RequestStatus)
                                        {
                                            case RequestStatusEnum.WaitingForAction:
                                                <td>Oczekuje na realizacje</td>
                                                break;
                                            case RequestStatusEnum.WaitingForCollection:
                                                <td>Oczekuje na odbiór przez lidera</td>
                                                break;
                                            case RequestStatusEnum.InUse:
                                                <td>
                                                    @if (User.Identity.GetUserId() == req.RequesterId)
                                                    {
                                                        <span>@Html.ActionLink("Przekaż innemu liderowi", "ReassignDeviceForm", "Reassignments", new { id = req.Id }, null)</span>

                                                    }
                                                    else
                                                    {
                                                        <span>W użytku</span>
                                                    }
                                                </td>
                                                break;
                                            case RequestStatusEnum.Completed:
                                                <td>Proces zakończony</td>
                                                break;
                                        }
                                        <td>@Html.ActionLink("Zobacz", "ReassignmentsHistory", "Reassignments", new { id = req.Id }, null)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="myArchivedRequests">
            <br />
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Archiwalne zamówienia</h3>
                </div>
                <div class="panel-body">
                    @if (!Model.MyArchivedRequests.Any())
                    {
                        <p>Brak archiwalnych zamówień</p>
                    }
                    else
                    {
                        <table class="dtable table table-striped table-bordered nowrap" cellspacing="0" style="width: 100%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Numer zamówienia</th>
                                    <th>Zlecenie produkcyjne</th>
                                    <th>Data rozpoczęcia produkcji</th>
                                    <th>Nazwa testera</th>
                                    <th>Kod testera</th>
                                    <th>Status</th>
                                    <th>Przekazania</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var req in Model.MyArchivedRequests)
                                {
                                    <tr>
                                        <td>@req.Id</td>
                                        <td>@req.OrderId</td>
                                        <td>@req.StartingDate</td>
                                        <td>@req.RequestedDevice.Name</td>
                                        <td>@req.RequestedDevice.Code</td>
                                        <td>Proces zakończony</td>
                                        <td>@Html.ActionLink("Zobacz", "ReassignmentsHistory", "Reassignments", new { id = req.Id }, null)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="myProblems">
            <br />
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Problemy zgłoszone przeze mnie</h3>
                </div>
                <div class="panel-body">
                    @if (!Model.ProblemsReportedByMe.Any())
                    {
                        <p>Nie zgłaszałeś ostatnio żadnych problemów :)</p>
                    }
                    else
                    {
                        <table class="dtable table table-striped table-bordered nowrap" cellspacing="0" style="width: 100%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Numer zgłoszenia</th>
                                    <th>Data zgłoszenia</th>
                                    <th>Urządzenie</th>
                                    <th>Kod urządzenia</th>
                                    <th>Opis problemu</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var problem in Model.ProblemsReportedByMe)
                                {
                                    <tr>
                                        <td>@problem.Id</td>
                                        <td>@problem.ReportingDate</td>
                                        <td>@problem.Device.Name</td>
                                        <td>@problem.Device.Code</td>
                                        <td>@problem.ProblemDescription</td>
                                        @switch (@problem.ProblemStatus)
                                        {
                                            case ProblemStatusEnum.WaitingForFix:
                                                <td>Oczekuje na sprawdzenie</td>
                                                break;

                                            case ProblemStatusEnum.Resolved:
                                                <td>Rozwiązany</td>
                                                break;
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
@section scripts{

    <script type="text/javascript" src="@Url.Content("/scripts/CustomScripts/dtablescript.js")"></script>

}