﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quality Managers</h2>

@Html.ActionLink("New Person", "New", "QualityManagers", null, new { @class = "btn btn-success" })
<br /><br />

    <table id="managers" class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
           <tr>
              <th>Name</th>  
              <th>Number</th>
              <th>Mail</th>
              <th></th>
              <th></th>
           </tr>
        </thead>
        <tbody>      
           <tr>
              <td></td>                    
           </tr>
        </tbody>
    </table>

@section scripts
    {
        <script>
            $(document).ready(function () {
                var table = $("#managers").DataTable({
                    ajax: {
                        url: "/api/QualityManagers",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row) {
                                return "<a href='/qualityManagers/Details/" + data.id+ "'>" + data.firstName + " " + data.lastName + "</a>";
                            }
                        },

                        {
                            data: "phoneNumber"
                        },
                        {
                            data: "mailAddress"
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return "<a href='/qualityManagers/Edit/" + data.id + "'>Edit</a>";
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return "<button class='btn btn-link js-delete' type='button' data-manager-id='" + data.id + "'>Delete</button>";
                            }
                        }

                    ]
                });


                $("#managers").on("click", ".js-delete", function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure to delete this Quality Manager?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/QualityManagers/" + button.attr("data-manager-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                    button.parents("tr").remove();
                                }
                            });
                        }

                    });
                });
            });
        </script>
    }