﻿@using OTDM.Models
@model  IEnumerable<QualityManager>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quality Managers</h2>

@Html.ActionLink("New Person", "New", "QualityManagers", null, new { @class="btn btn-success"})
<br /><br />
@if (Model == null || !Model.Any())
{
    <p>There are not any Quality Managers in database</p>
}
else
{
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>E-mail Address</th>
                <th>Supervisor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var qmanager in Model)
            {
                <tr>
                    <td>@qmanager.FirstName @qmanager.LastName</td>
                    <td>@qmanager.MailAddress</td>
                    <td>@qmanager.PhoneNumber</td>
                    <td>@qmanager.Manager</td>
                    <td><span style="margin-right:5px;">@Html.ActionLink("Edit", "Edit", "QualityManagers", new { id = qmanager.Id }, null)</span><span>@Html.ActionLink("Remove", "Remove", "QualityManagers", new { id = qmanager.Id }, null)</span></td>
                </tr>
            }
        </tbody>
    </table>
}
