﻿@using OTDM.Models
@model IEnumerable<Request>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wszystkie zamówienia</h2>

    <table class="dtable table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead class="thead-dark">
        <tr>
            <th>Numer zamówienia</th>
            <th>Nazwa urządzenia</th>
            <th>Status</th>
            <th>Pzrekazania</th>
            <th>Akcje do podjęcia</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var req in Model)
        {
            <tr>
                <td>@req.Id</td>
                <td>@req.RequestedDevice.Name</td>
                <td>@req.RequestStatus</td>
                <td>@Html.ActionLink("Zobacz", "ReassignmentsHistory", "Reassignments", new { id = req.Id }, null)</td>
                @switch (req.RequestStatus)
                {
                    case RequestStatusEnum.WaitingForAction:
                        <td> @Html.ActionLink("Gotowy do odbioru", "Prepared", "Requests", new { id = req.Id }, null)</td>
                        break;
                    case RequestStatusEnum.WaitingForCollection:
                        <td>@Html.ActionLink("Odebrano", "Collected", "Requests", new { id = req.Id }, null)</td>
                        break;
                    case RequestStatusEnum.InUse:
                        <td>@Html.ActionLink("Przekaż innemu kontrolerowi", "ReassignDeviceForm", "Reassignments", new { id = req.Id }, null)</td>
                        <td>@Html.ActionLink("Przyjmij na stan", "CommentForm", "Requests", new { id = req.Id }, null)</td>
                        break;
                    case RequestStatusEnum.Completed:
                        <td>Proces zakończony</td>
                        break;
                }
                
                


            </tr>
        }

    </tbody>

    </table>
@section scripts{

 <script type="text/javascript" src="@Url.Content("/scripts/CustomScripts/dtablescript.js")"></script>

}