﻿@using OTDM.Models
@using Microsoft.AspNet.Identity;
@model IEnumerable<Request>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wszystkie zamówienia</h2>

    <table class="dtable table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Numer zamówienia</th>
            <th>Nazwa urządzenia</th>
            <th>Status</th>
            <th>Pzrekazania</th>
            <th>Akcje do podjęcia</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var req in Model)
        {
            <tr>
                <td>@req.Id</td>
                <td>@req.RequestedDevice.Name</td>
                <td>@req.RequestStatus</td>
                <td>@Html.ActionLink("Zobacz", "ReassignmentsHistory", "Reassignments", new { id = req.Id }, null)</td>
                @switch (req.RequestStatus)
                {
                    case RequestStatusEnum.WaitingForAction:
                        <td>Oczekuje na realizacje</td>
                        break;
                    case RequestStatusEnum.WaitingForCollection:
                        <td>Oczekuje na odbiór przez kontrolera</td>
                        break;
                    case RequestStatusEnum.InUse:
                        <td>                    
                            @if (User.Identity.GetUserId() == req.RequesterId)
                            {
                                <span>@Html.ActionLink("Przekaż innemu kontrolerowi", "ReassignDeviceForm", "Reassignments", new { id = req.Id }, null)</span>

                            }
                            else
                            {
                                <span>W użytku</span>
                            }
                        </td>
                        break;
                    case RequestStatusEnum.Completed:
                        <td>Proces zakończony</td>
                        break;
                }
                


            </tr>
        }

    </tbody>

    </table>

@section scripts{

    <script type="text/javascript" src="@Url.Content("/scripts/CustomScripts/dtablescript.js")"></script>

}