﻿@model OTDM.Models.ViewModels.RequestFormViewModel
@{
    ViewBag.Title = "Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zamawianie urządzenia</h2>

@using (Html.BeginForm("CreateRequest", "Requests"))
{
    <div class="form-group">
        
        @Html.LabelFor(m=>m.RequesterName)
        @Html.TextBoxFor(m=>m.RequesterName, new { @class = "form-control", @readonly= ""  })
        @Html.ValidationMessageFor(m=>m.RequesterName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.DeviceName)
        @Html.TextBoxFor(m => m.DeviceName, new { @class = "form-control", @readonly = "" })
        @Html.ValidationMessageFor(m=>m.DeviceName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Request.OrderId)
        @Html.TextBoxFor(m => m.Request.OrderId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Request.OrderId)
    </div>
    <div class="datetimer form-group">
        @Html.LabelFor(m=>m.Request.StartingDate)
        @Html.TextBoxFor(m=>m.Request.StartingDate, new { @class="datetimepicker form-control" })
        @Html.ValidationMessageFor(m => m.Request.StartingDate)
    </div>

    <div class="datetimer form-group">
        @Html.LabelFor(m => m.Request.EstimatedUsageTime)
        @Html.TextBoxFor(m => m.Request.EstimatedUsageTime, new { @class = "datetimepicker form-control" })
        @Html.ValidationMessageFor(m => m.Request.EstimatedUsageTime)
    </div>
    @Html.HiddenFor(m=>m.Request.Id)
    @Html.HiddenFor(m => m.Request.RequesterId)
    @Html.HiddenFor(m => m.Request.RequestedDeviceId)
    <button type="submit" class="btn btn-primary">Zapisz</button> @Html.ActionLink("Anuluj", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-warning" })
}

@section scripts{

    <script type="text/javascript" src="@Url.Content("/scripts/CustomScripts/datetimepicker.js")"></script>

}