﻿@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    @if (!Request.IsAuthenticated)
    {
        <h1 class="display-3">Omega Devices Manager</h1>
        <p class="lead">Narzędzie do zarządzania zamówieniami i walidacjami urządzeń kontrolno-pomiarowych oraz wzorców produkcyjnych w Zakładzie Elektronicznym Omega Sp. z o.o. </p>
        <hr class="my-4">
        <p>Zaloguj się, aby korzystać lub jeśli nie masz jeszcze konta zarejestruj się i <a href="mailto:admin@omega.com">poproś o dostęp</a> na odpowiednim poziomie</p>
        <p class="lead">
            @Html.ActionLink("Zaloguj", "Login", "Account", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Rejestracja", "Register", "Account", null, new { @class = "btn btn-info" })
        </p>
    }
    else
    {
        <h2 class="display-3">Witaj @User.Identity.GetUserName()!</h2>
        <p class="lead">Omega Devices Manager to narzędzie do zarządzania zamówieniami i walidacjami urządzeń urządzeń kontrolno-pomiarowych oraz wzorców produkcyjnych w Zakładzie Elektronicznym Omega Sp. z o.o. </p>
        <p> Jeśli nie widzisz niektórych opcji <a href="mailto:admin@omega.com">poproś o dostęp</a> na wyższym poziomie</p>
    }
</div>

@section scripts{
    
    <script>
        $(document).ready(function(){
            $("#backbutton").hide();
        });

    </script>

    }