﻿@using OTDM.Models;
@using OTDM.Models.ViewModels
@using Microsoft.AspNet.Identity
 
@model OTDM.Models.ViewModels.ReassignmentsHistoryViewModel
@{
    ViewBag.Title = "ReassignmentsHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historia przekazań urządzenia</h2>


@if (!Model.ReassignmentsList.Any())
{
    <p>To urządzenie nie było przekazywane</p>
}
else
{
    <table class="dtable table table-striped table-bordered nowrap" cellspacing="0" style="width: 100%;">
        <thead class="thead-dark">
            <tr>
                <th>Data przekazania</th>
                <th>Przekazane przez</th>
                <th>Przekazane do</th>
                <th>Komentarz</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var rs in Model.ReassignmentsList)
            {
                <tr>
                    <td>@rs.ReassignmentDate</td>
                    <td>@Model.ViewUserManager.FindById(rs.ReassignedFrom).FullName</td>
                    <td>@Model.ViewUserManager.FindById(rs.ReassignedTo).FullName</td>
                    <td>@rs.Comment</td>
                </tr>
            }

        </tbody>
    </table>
}

@section scripts{

    <script type="text/javascript" src="@Url.Content("/scripts/CustomScripts/dtablescript.js")"></script>

}