﻿@model OTDM.Models.ViewModels.DeviceFormViewModel
@{
    ViewBag.Title = "DeviceForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Zarządzanie urządzeniami</h2>

@using (Html.BeginForm("Save", "Devices"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Device.Name)
            @Html.TextBoxFor(m => m.Device.Name, new {@class="form-control"})
            @Html.ValidationMessageFor(m=>m.Device.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Device.Code)
            @Html.TextBoxFor(m => m.Device.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(m=>m.Device.Code)
        </div>
        <div class="datetimer form-group">
            @Html.LabelFor(m => m.Device.NextValidationDate)
            @Html.TextBoxFor(m => m.Device.NextValidationDate, new { @class = "datetimepicker form-control" }) 
            @Html.ValidationMessageFor(m=>m.Device.NextValidationDate)
        </div>
        
        <div class="form-group">    
            @Html.LabelFor(m => m.Device.DeviceCategoryId)
            @Html.DropDownListFor(m => m.Device.DeviceCategoryId, new SelectList(Model.DevCategoriesList, "Id", "Name"), "", new { @class = "form-control" }) 
        </div>    
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.Device.IsValidated) Czy tester został zwalidowany?
            </label>
        </div>
        @Html.HiddenFor(m=>m.Device.Id)
         <div style="min-height:40px;">
        <button type="submit" class="btn btn-primary">Zapisz</button>  @Html.ActionLink("Anuluj", null, null, null, new { href = Request.UrlReferrer, @class="btn btn-warning" })
         </div>

}

    

@section scripts{

    <script type="text/javascript" src="@Url.Content("/scripts/CustomScripts/datetimepicker.js")"></script>

}
