﻿@using Microsoft.AspNet.Identity;
@using OTDM.Models;
@model OTDM.Models.ViewModels.DevicesIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista urządzeń</h2>

<br><br>
@if(Model==null || !Model.DevicesList.Any())
{
    <p>No devices in the database</p>
}
else
{
    <table class="dtable table table-striped table-bordered nowrap" cellspacing="0" style="width: 100%;">
        <thead class="thead-dark">
            <tr>
                <th>Nazwa urządzenia</th>
                <th>Kod urządzenia</th>
                <th>Kategoria urządzenia</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Model.DevicesList)
            {
                <tr>
                    <td>@Html.ActionLink(device.Name, "Details", "Devices", new { id = device.Id }, new { @class = "deviceclass" })</td>
                    <td>@device.Code</td>
                    <td>@device.DeviceCategory.Name</td>
                    @if (@Model.RequestsList.Any(r => r.RequestedDeviceId == device.Id))
                    {
                        <td>
                            <span class="label label-danger">Niedostępny</span>
                            <span class="label label-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Obecnie użytkowany przez @Model.ViewUserManager.FindById(Model.RequestsList.SingleOrDefault(r => r.RequestedDeviceId==device.Id).RequesterId).FullName. Przewidywany czas zwrotu: @Model.RequestsList.SingleOrDefault(r => r.RequestedDeviceId == device.Id).EstimatedUsageTime">Info</span>
                        </td>
                            <td>
                                <div>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Zgłoś problem">@Html.ActionLink(" ", "ReportProblem", "Problems", new { id = device.Id }, new { @class = "glyphicon glyphicon-bullhorn", style = "margin-right: 5px; color: purple; text-decoration: none;" })</span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Historia">@Html.ActionLink(" ", "DeviceHistory", "Devices", new { id = device.Id }, new { @class = "glyphicon glyphicon-time", style = "margin-right: 5px; color: black; text-decoration: none;" })</span>
                                </div>
                            </td>
                    }
                    else if (!device.IsValidated)
                    {
                        <td>
                            <span class="label label-danger">Niedostępny</span>
                            <span class="label label-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Urządzenie jest obecnie walidowane/naprawiane">Info</span>
                        </td>
                            <td>
                                <div>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Historia">@Html.ActionLink(" ", "DeviceHistory", "Devices", new { id = device.Id }, new { @class = "glyphicon glyphicon-time", style = "margin-right: 5px; color: black; text-decoration: none;" })</span>
                                </div>
                            </td>

                    }

                    else if (!device.IsValidated)
                    {
                        <td>
                            <span class="label label-danger">Niedostępny</span>
                            <span class="label label-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Urządzenie jest obecnie walidowane/naprawiane">Info</span>
                        </td>
                            <td>
                                <div>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Historia">@Html.ActionLink(" ", "DeviceHistory", "Devices", new { id = device.Id }, new { @class = "glyphicon glyphicon-time", style = "margin-right: 5px; color: black; text-decoration: none;" })</span>
                                </div>
                            </td>

                    }

                    else if (device.NextValidationDate<= DateTime.Now)
                    {
                            <td>
                                <span class="label label-warning">Wymaga walidacji</span>
                                <span class="label label-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Zalecana akcja: 'zgłoś problem'">Info</span>
                            </td>
                            <td>
                                <div>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Zgłoś problem">@Html.ActionLink(" ", "ReportProblem", "Problems", new { id = device.Id }, new { @class = "glyphicon glyphicon-bullhorn", style = "margin-right: 5px; color: purple; text-decoration: none;" })</span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Historia">@Html.ActionLink(" ", "DeviceHistory", "Devices", new { id = device.Id }, new { @class = "glyphicon glyphicon-time", style = "margin-right: 5px; color: black; text-decoration: none;" })</span>
                                </div>
                            </td>

                    }

                    else
                    {
                        <td><span class="label label-success">Dostępny</span></td>
                            <td>
                                <div>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Zamów">@Html.ActionLink(" ", "RequestDevice", "Requests", new { id = device.Id }, new { @class = "glyphicon glyphicon-list-alt", style = "margin-right: 5px; color: green; text-decoration: none;" })</span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Zgłoś problem">@Html.ActionLink(" ", "ReportProblem", "Problems", new { id = device.Id }, new { @class = "glyphicon glyphicon-bullhorn", style = "margin-right: 5px; color: purple; text-decoration: none;" })</span>
                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Historia">@Html.ActionLink(" ", "DeviceHistory", "Devices", new { id = device.Id }, new { @class = "glyphicon glyphicon-time", style = "margin-right: 5px; color: black; text-decoration: none;" })</span>
                                </div>
                            </td>
                    }
                </tr>
            }
        </tbody>

    </table>
}


@section scripts{

    <script type="text/javascript" src="@Url.Content("/scripts/CustomScripts/dtablescript.js")"></script>

}